<div class="content">

  <div class="card">
    <h3 style="margin-top: 1rem;">Details</h3>
    <div class="row">
      <div class="column">
        <img src={{this.imageUrl}} alt="Itenary" style="max-width:400px">
      </div>
      <div class="column">
        <p> <b>Product Id:</b> {{ details.ProductId }}</p>

        <p><b>Product Name: </b>{{ details.ProductName }}</p>

        <p><b>Category:</b> <span [outerHTML]="details.CategoryName | producttype"></span> </p>

        <p><b>Supplier Name:</b> {{ details.Supplier }}</p>

        <p><b>Description:</b> {{ details.Description }}</p>

        <p><b>BasePrice:</b> {{ details.BasePrice | currency }} </p>
        <button class="btn btn-primary" (click)="goBack()">Go Back</button>
        <button class="btn btn-primary pull-right" (click)="showDialog()">Cancel Trip</button>
      </div>
    </div>
  </div>
  <confirm-dialog></confirm-dialog>
</div>